# Database Configuration
DB_HOST=localhost             # Change if using a remote database
DB_USER=root                 # Change to your database user
DB_PASS=                     # Your database password here
DB_NAME=                     # Your database name here
GMAIL_USER=                   # Gmail user for sending emails
GMAIL_APP_PASSWORD=           # Gmail app password for sending emails
EMAIL_SENDER_USER=            # Email sender's email address
EMAIL_SENDER_APP_PASSWORD=    # Email sender's app password
REMOTE_IP=localhost           # Change to your ip
LOCAL_IP=localhost            # Change to your ip