fastapi
uvicorn
ollama
python-dotenv
requests
python-jose
bcrypt
pymysql
openpyxl
llama_index
llama_index.llms.ollama
llama_index.embeddings.huggingface
llama-index-vector-stores-faiss
faiss-cpu
pydantic[email]
python-multipart
cryptography
redis